<a href="https://colab.research.google.com/github/Pranj9945/-CE880_Lab_coursework-/blob/main/week2/problem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Pranjal Sunil Patil"
COLLABORATORS = "2321437"

---

---
# Welcome to CE880
### This is your week-2 : Problem 1 notebook
### Spring Term 2023-24
#### Prepared by Dr Haider Raza

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

---
## Question 1:

Write a Python function that takes a list of numbers and returns a list of their sigmoid values.
Hint: round the value to two decimal points.
![A](https://miro.medium.com/v2/resize:fit:1033/0*D5do3xhv5ulF50w2.png "Sigmoid")
By solving this question correctly you will get 1 point.

In [ ]:
import math
def calculate_sigmoid(numbers):
    """Write a Python function that takes a list of numbers and returns a list of their sigmoid values."""
    # YOUR CODE HERE
    op_list = []
    for i in numbers:
        op_list.append(round(1/(1+ math.exp(-i)),2))
    return op_list
    raise NotImplementedErrror()

In [ ]:
numbers = [0, 1, 2, -3, 4]
result = calculate_sigmoid(numbers)
print(result)

[0.5, 0.73, 0.88, 0.05, 0.98]

In [ ]:
"""Check your answer by running this cell"""

# Test case 1
my = [0, math.pi / 2, math.pi, 100, 200, 230]
assert calculate_sigmoid(my) == [0.5, 0.83, 0.96, 1.0, 1.0, 1.0]

# Test case 2
my = [0, 2, 4, 6, -30, 400]
assert calculate_sigmoid(my) == [0.5, 0.88, 0.98, 1.0, 0.0, 1.0]

---

## Question 2:

Given an array of integers, find two numbers such that they add up to a specific target sum. Return the indices of the two numbers. For example, given the array `[2, 7, 11, 15]` and the target `9`, the function should return `[0, 1]` since `2 + 7 = 9`.

By solving this question correctly you will get 1 point.

In [ ]:
def two_sum(nums, target):
    """Given an array of integers, find two numbers such that they add
    up to a specific target sum. Return the indices of the two numbers."""
    # YOUR CODE HERE
    for i in range(0,len(nums)-1):
        for j in range(0,len(nums)):
            if nums[i] + nums[j] == target:
                return[i,j]
    raise NotImplementedError()

In [ ]:
# Example for students
nums = [2, 7, 11, 15]
target = 9
result = two_sum(nums, target)
print(result)

[0, 1]

In [ ]:
"""Check your answer by running this cell"""

# Case 1
nums = [17, 12, 31, 6]
target = 37
assert two_sum(nums, target) == [2, 3]

# Case 2
nums = [1, 2, 4, 6, 30, 40]
target = 31
assert two_sum(nums, target) == [0, 4]

---
## Question 3:

Given an unsorted array of integers, find the length of the longest increasing subsequence.

For example, given the array `[10, 9, 2, 3, 7, 101, 18]`, the longest increasing subsequence is `[2, 3, 7, 101]`, so the length is 4.

By solving this question correctly you will get 1 point.

In [ ]:
def length_of_lis(nums):
    """Given an unsorted array of integers, find the length of the longest increasing subsequence."""
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
result = length_of_lis([10, 19, 1, 2, 6])
print(result)

In [ ]:
"""Check your answer by running this cell"""
# Case 1
assert length_of_lis([10, 9, 2, 5, 3, 7, 101, 18]) == 4

# Case 2
assert length_of_lis([10, 19, 1, 2, 6]) == 3

## Pandas Data Frame

In [ ]:
from sklearn import datasets
import pandas as pd
# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', "Haris", "Adam"],
    'Age': [25, 30, 28, 35, 41, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Chicago', 'Chicago']
}
df = pd.DataFrame(data)
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   28      Chicago
3    David   35      Houston
4    Haris   41      Chicago
5     Adam   28      Chicago

---
## Question 4:

Write a function to Find the age of the person named `Charlie` and `Charlie` is not in the Data Frame then return `0`.

By solving this question correctly you will get 2 points.

In [ ]:
def find_element(dataframe, name):
    """Write a function to Find the age of the person named "Charlie" """
    # YOUR CODE HERE

    try:
         return dataframe.loc[dataframe["Name"] == name, "Age"].iloc[0]
    except IndexError:
         return 0
    raise NotImplementedError()

In [ ]:
assert find_element(df, 'Bob') == 30
assert find_element(df, 'Charlie') == 28
assert find_element(df, 'CE880') == 0

---
## Question 5:


Write a function to calculate the `mean` and `standard deviation` of `Age`. `Hint` Create a list and append value to it and return the output.

By solving this question correctly you will get 1 point.

In [ ]:
def stats(X):
    """Write a functon to calculate mean and standard deviation of Age from the
    above dataframe df and round the values to 2 decimals points ."""
    # YOUR CODE HERE
    import statistics

    def calculate_stats(age_list):
        age_list = [float(age) for age in age_list]
        mean_age = statistics.mean(age_list)
        std_dev_age = statistics.stdev(age_list)
        return mean_age , std_dev_age
        """Check your output"""
     # Test case
        x = stats(df)
        y= [31.16, 5.84]
        np.testing.assert_allclose(x, y, rtol=0.05, atol=0)
     raise NotImplementedError()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 17)

In [ ]:
"""Check your output"""
# Test case
x = stats(df)
y= [31.16, 5.84]
np.testing.assert_allclose(x, y, rtol=0.05, atol=0)

NameError: name 'df' is not defined